{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="{$__RESOURCE__}styles/combos.css?2.0">
<div class="app-body">
  <div class="selected-info">
    <span class="item">档期: 3月27日</span><span class="item">(周一)</span><span class="item">10:30</span><span class="item store-info-name">上海玄武店</span>
  </div>
  <dl class="combos-product" id="combos-product">
    <dt>
        <strong>可加选套餐</strong><span style="display: none;">(加选默认1人份，如需2人份请点“+”号)</span>
    </dt>

    <dd>
      <ul class="list">

        <li class="combo-number-1 clearfix" data-count="0" data-price="120" data-productid="1" data-title="证件照" data-maxcount="1" style="display: list-item;">
          <div class="img">
            <img src="{$__RESOURCE__}images/icon_zhengjian.png">
            <div class="mask"></div>
          </div>
          <div class="content">
            <div class="title-price">
              <div class="title">证件照</div>
              <div class="price"><strong>￥120</strong></div>
            </div>

            <div class="original-discount">
              <div class="original"><del>￥150</del></div>
              <div class="discount"><span>省30元</span></div>
            </div>

          </div>

          <span class="action icon-unchecked" data-role="combo-add" data-maxcount="1"></span>
        </li>

        <li class="combo-number-1 clearfix" data-count="0" data-price="120" data-productid="3" data-title="NaiveFace" data-maxcount="1" style="display: list-item;">
          <div class="img">
            <img src="https://oacvb204d.qnssl.com/yue/upload/20160413/14605308022849.png">
            <div class="mask"></div>
          </div>
          <div class="content">
            <div class="title-price">
              <div class="title">NaiveFace</div>
              <div class="price"><strong>￥120</strong></div>
            </div>

            <div class="original-discount">
              <div class="original"><del>￥180</del></div>
              <div class="discount"><span>省60元</span></div>
            </div>

          </div>

          <span class="action icon-unchecked" data-role="combo-add" data-maxcount="1"></span>
          <!--<div class="combo-count">拍摄人数<span data-role="combo-count" data-count="1">1</span></div>-->

        </li>

        <li class="combo-number-1 clearfix" data-count="0" data-price="170" data-productid="4" data-title="职业照" data-maxcount="1" style="display: list-item;">
          <div class="img">
            <img src="https://oacvb204d.qnssl.com/yue/upload/20160822/14718467903041.png">
            <div class="mask"></div>
          </div>
          <div class="content">
            <div class="title-price">
              <div class="title">职业照</div>
              <div class="price"><strong>￥170</strong></div>
            </div>

            <div class="original-discount">
              <div class="original"><del>￥200</del></div>
              <div class="discount"><span>省30元</span></div>
            </div>

          </div>

          <span class="action icon-unchecked" data-role="combo-add" data-maxcount="1"></span>
          <!--<div class="combo-count">拍摄人数<span data-role="combo-count" data-count="1">1</span></div>-->

        </li>

        <li class="combo-number-2 clearfix" data-count="0" data-price="120" data-productid="1" data-title="证件照" data-maxcount="2">
          <div class="img">
            <img src="https://oacvb204d.qnssl.com/icon_zhengjian.png">
            <div class="mask"></div>
          </div>
          <div class="content">
            <div class="title-price">
              <div class="title">证件照</div>
              <div class="price"><strong>￥120</strong></div>
            </div>

            <div class="original-discount">
              <div class="original"><del>￥150</del></div>
              <div class="discount"><span>省30元</span></div>
            </div>

          </div>

          <div class="person-count-box">
            <div class="persons-count-minus person-count-action-disable"><i class="icon-minus"></i></div>
            <div class="person-count"><strong>1</strong>人</div>
            <div class="person-count-add"><i class="icon-plus"></i></div>
          </div>
          <span class="action icon-unchecked" data-role="combo-add" data-maxcount="2"></span>
          <!--<div class="combo-count">拍摄人数<span data-role="combo-count" data-count="1">1</span><span data-role="combo-count" data-count="2">2</span></div>-->

        </li>

        <li class="combo-number-2 clearfix" data-count="0" data-price="120" data-productid="3" data-title="NaiveFace" data-maxcount="2">
          <div class="img">
            <img src="https://oacvb204d.qnssl.com/yue/upload/20160413/14605308022849.png">
            <div class="mask"></div>
          </div>
          <div class="content">
            <div class="title-price">
              <div class="title">NaiveFace</div>
              <div class="price"><strong>￥120</strong></div>
            </div>

            <div class="original-discount">
              <div class="original"><del>￥180</del></div>
              <div class="discount"><span>省60元</span></div>
            </div>

          </div>

          <div class="person-count-box">
            <div class="persons-count-minus person-count-action-disable"><i class="icon-minus"></i></div>
            <div class="person-count"><strong>1</strong>人</div>
            <div class="person-count-add"><i class="icon-plus"></i></div>
          </div>
          <span class="action icon-unchecked" data-role="combo-add" data-maxcount="2"></span>
          <!--<div class="combo-count">拍摄人数<span data-role="combo-count" data-count="1">1</span><span data-role="combo-count" data-count="2">2</span></div>-->

        </li>

        <li class="combo-number-2 clearfix" data-count="0" data-price="170" data-productid="4" data-title="职业照" data-maxcount="2">
          <div class="img">
            <img src="https://oacvb204d.qnssl.com/yue/upload/20160822/14718467903041.png">
            <div class="mask"></div>
          </div>
          <div class="content">
            <div class="title-price">
              <div class="title">职业照</div>
              <div class="price"><strong>￥170</strong></div>
            </div>

            <div class="original-discount">
              <div class="original"><del>￥200</del></div>
              <div class="discount"><span>省30元</span></div>
            </div>

          </div>

          <div class="person-count-box">
            <div class="persons-count-minus person-count-action-disable"><i class="icon-minus"></i></div>
            <div class="person-count"><strong>1</strong>人</div>
            <div class="person-count-add"><i class="icon-plus"></i></div>
          </div>
          <span class="action icon-unchecked" data-role="combo-add" data-maxcount="2"></span>
          <!--<div class="combo-count">拍摄人数<span data-role="combo-count" data-count="1">1</span><span data-role="combo-count" data-count="2">2</span></div>-->

        </li>
      </ul>
    </dd>

  </dl>
  <div class="cost-box clearfix">
    <div>订单总额 <span class="total-cost">¥300.00</span></div>
    <div>需付订金 <span class="deposit">¥60.00</span></div>
  </div>
  <div class="action">
    <a href="javascript:history.back();" class="nb-btn nb-btn-default">重选档期</a>
    <a href="javascript:;" id="confirm-order" class="nb-btn nb-btn-primary">下一步</a>
  </div>
  <div id="page-mask" class="page-mask"></div>
</div>
<script>
  var params = {
    'isVip': 0,
    //'vipPrice': '0',
    'defaultNumber': '1',
    'baseUrl': './do_order?storeId=12&date=2017-03-27&time=10:30&productId=14&tag=default&city=%E4%B8%8A%E6%B5%B7&week=%E5%91%A8%E4%B8%80&number=1',
    'nextCanOrderCount': '1',
    'productId': '14',
    'number': '1',
    'selectProductPrice': '300',
    'selectProductDeposit': '60.00'
  };

  function inArray(o, ary) {
    for (var i = 0; i < ary.length; i++) {
      if (o == ary[i]) {
        return true;
      }
    }
    return false;
  }

  function selectStr() {
    var productTit = '全身形象照';
    var htmlAry = [productTit + '×' + params.number + '人'];
    $('#combos-product li').each(function() {
      if ($(this).css('display') != 'none' && $(this).hasClass('list-active')) {
        var count = $(this).data('count');
        var title = $(this).data('title');
        var str = title + '×' + count;
        htmlAry.push(str);
      }
    });
    var ss = '『' + htmlAry.join(', ') + '』';
    $('.selected-product').html(ss);
  }

  function calculateCost() {
    var selectProductPrice = parseFloat(params.selectProductPrice);

    if (params.defaultNumber == 2) {
      var pp = selectProductPrice;
      var dd = parseFloat(params.selectProductDeposit);
    } else {
      var pp = selectProductPrice * parseInt(params.number);
      var dd = parseFloat(params.selectProductDeposit) * parseInt(params.number);
    }


    var maxcount = 0;
    $('#combos-product li').each(function() {
      if ($(this).css('display') != 'none' && $(this).hasClass('list-active')) {
        var thisCount = parseInt($(this).data('count'), 10);
        if (thisCount > maxcount) {
          maxcount = thisCount;
        }
        var _comboPrice = parseFloat($(this).data('price'));

        var comboPrice = _comboPrice * thisCount;
        pp = pp + comboPrice;

      }
    });
    dd = dd + maxcount * 30;
    $('.total-cost').html('¥' + pp.toFixed(2));
    $('.deposit').html('¥' + (params.number * 60).toFixed(2));
  }

  $('.list .combo-number-' + params.number).show();

  $('.list').on('click', 'li', function() {
    var parElm = $(this);
    if (parElm.hasClass('disable')) {
      return;
    }
    parElm.find('[data-role="combo-add"]').toggleClass('icon-unchecked');
    parElm.find('[data-role="combo-add"]').toggleClass('icon-ok');
    parElm.toggleClass('list-active');
    if (!parElm.hasClass('list-active')) {
      parElm.attr('data-count', 0);
    } else {
      parElm.attr('data-count', 1);
    }

    calculateCost();
  });

  $('.person-count-add').on('click', function(e) {
    e.stopPropagation();
    var parElm = $(this).parents('li');

    if (parElm.hasClass('list-active') && !$(this).hasClass('disable')) {
      var countElm = parElm.find('.person-count strong');
      var maxCount = parElm.attr('data-maxcount');
      var currentCount = parElm.attr('data-count');
      if (currentCount < maxCount) {
        $(this).removeClass('person-count-action-disable');
        currentCount++;
      } else {
        $(this).addClass('person-count-action-disable');
      }

      if (currentCount == maxCount) {
        parElm.find('.persons-count-minus').removeClass('person-count-action-disable');
        parElm.find('.persons-count-add').addClass('person-count-action-disable');
      }
      countElm.html(currentCount);
      parElm.attr('data-count', currentCount);
      calculateCost();
    }

  });
  $('.persons-count-minus').on('click', function(e) {
    e.stopPropagation();
    var parElm = $(this).parents('li');
    if (parElm.hasClass('list-active') && !$(this).hasClass('disable')) {
      var countElm = parElm.find('.person-count strong');
      var currentCount = parElm.attr('data-count');
      if (1 < currentCount) {
        $(this).removeClass('person-count-action-disable');
        currentCount--;
      } else {
        $(this).addClass('person-count-action-disable');
      }
      if (currentCount == 1) {
        parElm.find('.persons-count-minus').addClass('person-count-action-disable');
        parElm.find('.person-count-add').removeClass('person-count-action-disable');
      }
      countElm.html(currentCount);
      parElm.attr('data-count', currentCount);
      calculateCost();
    }
  });

  $('#confirm-order').click(function() {
    // 获取拍摄人数
    //var number = $('#select-number .activied').data('number');

    // 获取可选组合
    var combos = [];
    $('#combos-product li').each(function() {
      if ($(this).css('display') != 'none' && $(this).hasClass('list-active')) {
        var count = $(this).data('count');
        var productId = $(this).data('productid');
        combos.push(productId + '|' + count);
      }
    });
    window.location = params['baseUrl'] + '&combos=' + combos.join(',');
  });
  calculateCost();
</script>
{include file="public/footer" /}
