{include file="public/header" /}
	<link rel="stylesheet" type="text/css" href="{$__RESOURCE__}styles/notice.css">
	<style>
    * h6 {
        padding:0 16px;
        font-size:11px;
    }
    .colorlist {
        padding:0 16px 12px;
    }
    .colorlist ul {
        margin:0 -10px;
    }
    .colorlist li {
        float:left;
        width:20%;
        font-size:11px;
        text-align:center;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        padding:12px 10px 0;
    }
    .colorlist li span {
        display:block;
        padding:100% 0 0;
    }
    .colorlist li span.color-1 {
        background:#A4B8E4;
    }
    .colorlist li span.color-2 {
        background:#F7E2E5;
    }
    .colorlist li span.color-3 {
        background:#5E6D72;
    }
    .colorlist li span.color-4 {
        background:#A8AA9D;
    }
    .colorlist li span.color-5 {
        background:#9A5151;
    }
    .colorlist li span.color-6 {
        background:#D99B60;
    }
    .colorlist li span.color-7 {
        background:#D486A0;
    }
    .colorlist li span.color-8 {
        background:#8E67AA;
    }
    .colorlist li span.color-9 {
        background:#037482;
    }
    .colorlist li span.color-10 {
        background:#284556;
    }
    .colorlist li i {
        display:block;
        font-size:11px;
        padding:1px 0 0;
    }
    .data {
        font-size:11px;
        padding:0 16px 16px;
    }
    .data table {
        width:100%;
        text-align:center;
    }
    .data th {
        border:#E5E5E5 1px solid;
        padding:6px 0;
        font-weight:700;
    }
    .data td {
        border:#E5E5E5 1px solid;
        padding:6px 0;
    }
    .works {
        width:100%;
        padding:0 16px;
        text-align:center;
    }
    .notice-wrap .icon {
        font-size:56px;
        color:#FFCE00;
        text-align:center;
    }
    .notice-wrap h4 {
        font-size:16px;
        color:#666;
        text-align:center;
        border-bottom:1px solid #E4E4E4;
        font-weight:900;
        padding:0px 0 18px 0;
        margin:0 0 12px 0;
    }
</style>
	<div class="app-body">
				<!-- 帮助 -->
				<div class="wrap">
				    <div class="app-body">
				        <div class="notice-wrap">
				            <p class="icon"><i class="icon-lightbulb"></i></p>
				            <h4>绿草地拍摄注意事项</h4>

				            <div class="content" style="padding-bottom: 68px;">
				                <dl class="notice-dl">
				                    <dt>关于服装</dt>
				                    <dd>
				                        <ul class="intro">
				                            <li>我们备有有限款式的服装和配饰：正装外套、正装衬衫、不修身的休闲情侣装、眼镜框、领带、领结等；</li>
				                            <li>如果你很在意合身程度、个性化或你有轻微的洁癖，我们十分建议你自行准备服装。那样也许会更适合自己；</li>
				                            <li>自备服装原则：勿夸张花哨，尽量有领；个别证件的服装以当地相关部门的要求为准。</li>
				                        </ul>
				                        <h6> 建议选用纯色的衣服(不要太鲜艳)，推荐以下颜色： </h6>

				                        <div class="colorlist">
				                            <ul class="clearfix">
				                                <li><span class="color-1"> </span> 浅蓝</li>
				                                <li><span class="color-2"> </span> 浅粉</li>
				                                <li><span class="color-3"> </span> 雅灰</li>
				                                <li><span class="color-4"> </span> 卡其</li>
				                                <li><span class="color-5"> </span> 酒红</li>
				                                <li><span class="color-6"> </span> 橡木黄</li>
				                                <li><span class="color-7"> </span> 玫瑰粉</li>
				                                <li><span class="color-8"> </span> 淡紫</li>
				                                <li><span class="color-9"> </span> 蓝绿</li>
				                                <li><span class="color-10"> </span> 蓝灰</li>
				                            </ul>
				                        </div>
				                    </dd>
				                    <dt>关于妆容</dt>
				                    <dd>
				                        <ul class="intro">
				                            <li>我们提供适合普通用途的日常妆容和简单的发型打理，但如果要洗头、剪发、烫发请自行准备；</li>
				                            <li>我们十分建议你在拍摄前将发型修剪合适，并在到店时保持头发柔顺；男士请刮胡子、修剪鼻毛；</li>
				                            <li>近视的话请佩戴隐形眼镜；正规证件不可戴美瞳；</li>
				                        </ul>
				                    </dd>
				                    <dt>关于状态</dt>
				                    <dd style="padding-bottom: 15px; border-bottom: none">
				                        <ul class="intro">
				                            <li>请在拍摄前保持睡眠充足，并在拍摄前一晚避免过度饮水导致水肿。</li>
				                        </ul>
				                    </dd>
				                </dl>
				            </div>
				            <div class="action"><a href="./orders" class="nb-btn nb-btn-default">我的订单</a>
				            </div>
				        </div>
				    </div>
				</div>
				<!-- 帮助 -->
	    </div>
{include file="public/footer" /}
