{include file="public/header" /}
	<link rel="stylesheet" type="text/css" href="{$__RESOURCE__}styles/products.css">
	<div class="app-body">
				 <div class="flow">
				     <i class="icon-number">1</i><strong>选择拍摄类型</strong> <span>(如需拍摄多种类型，可在第5步加选)</span>
				 </div>
				 <div class="wrap">
				     <div class="product-list">
				         <ul class="clearfix">
				                  <li>
				                     <a href="./product_detaile/1?&city=上海">
				                         <span class="photo"><img src="{$__RESOURCE__}images/icon_zhengjian.png"></span>
				                         <span class="title">证件照</span>
				                     </a>
				                 </li>
				                 <li>
				                     <a href="./product_detaile/3?&city=上海">
				                         <span class="photo"><img src="{$__RESOURCE__}images/NaiveFace.png"></span>
				                         <span class="title">NaiveFace</span>
				                     </a>
				                 </li>
				                 <li>
				                     <a href="./product_detaile/19?g;city=上海">
				                         <span class="photo"><img src="{$__RESOURCE__}images/icon_biaoqing3.gif"></span>
				                         <span class="title">动态表情包</span>
				                     </a>
				                 </li>
				                             <li>
				                     <a href="./product_detaile/19?&city=上海">
				                         <span class="photo"><img src="{$__RESOURCE__}images/dongka.gif"></span>
				                         <span class="title">动卡gif+</span>
				                     </a>
				                 </li>
				                             <li>
				                     <a href="./product_detaile/2?&city=上海">
				                         <span class="photo"><img src="{$__RESOURCE__}images/marry.png"></span>
				                         <span class="title">结婚登记照</span>
				                     </a>
				                 </li>
				                             <li>
				                     <a href="./product_detaile/4?&city=上海">
				                         <span class="photo"><img src="{$__RESOURCE__}images/work.png"></span>
				                         <span class="title">职业照</span>
				                     </a>
				                 </li>
				                             <li>
				                     <a href="./product_detaile/14?&city=上海">
				                         <span class="photo"><img src="{$__RESOURCE__}images/full_body.png"></span>
				                         <span class="title">全身形象照</span>
				                     </a>
				                 </li>
				                     </ul>
				     </div>
				     <div class="product-list">
				         <div class="tel-tip">以下项目需电话预约</div>
				         <ul class="clearfix">
				                         <li>
				                 <a href="./product_detaile/16?city=上海">
				                     <span class="photo"><img src="{$__RESOURCE__}images/family.png"></span>
				                     <span class="title">全家福</span>
				                 </a>
				             </li>
				                         <li>
				                 <a href="./product_detaile_qiye">
				                     <span class="photo"><img src="{$__RESOURCE__}images/product_logo_qiye.png"></span>
				                     <span class="title">企业外拍</span>
				                 </a>
				             </li>
				         </ul>
				     </div>
				 </div>
		         <div id="page-mask" class="page-mask"></div>
		     </div>
 <!--当前页面的js-->
 <script>
     var runParams = {
         'toolbarLocationShow': true
     };
 </script>
 <!--当前页面的js-->
{include file="public/city" /}
{include file="public/footer" /}
