<!-- 选择城市 -->
<div id="toolbar-citys" class="toolbar-citys">
    <div class="city-list">
        <p style="font-size:12px;color:#888888;line-height:12px;text-align:justify;margin-bottom: 11px;">请选择下列有绿草地门店的城市</p>
        <ul class="clearfix" id="city-all">
                        <li>
                                <a href="./store_address?city=上海" class="active">上海</a>
                            </li>
                        <li>
                                <a href="./store_address?city=北京" class="">北京</a>
                            </li>
                        <li>
                                <a href="./store_address?city=南京" class="">南京</a>
                            </li>
                        <li>
                                <a href="./store_address?city=厦门" class="">厦门</a>
                            </li>
                        <li>
                                <a href="./store_address?city=大连" class="">大连</a>
                            </li>
                        <li>
                                <a href="./store_address?city=广州" class="">广州</a>
                            </li>
                        <li>
                                <a href="./store_address?city=昆明" class="">昆明</a>
                            </li>
                        <li>
                                <a href="./store_address?city=杭州" class="">杭州</a>
                            </li>
                        <li>
                                <a href="./store_address?city=武汉" class="">武汉</a>
                            </li>
                        <li>
                                <a href="./store_address?city=深圳" class="">深圳</a>
                            </li>
                        <li>
                                <a href="./store_address?city=苏州" class="">苏州</a>
                            </li>
                        <li>
                                <a href="./store_address?city=西安" class="">西安</a>
                            </li>
                        <li>
                                <a href="./store_address?city=长沙" class="">长沙</a>
                            </li>
                    </ul>
        <ul class="clearfix" id="city-search">
        </ul>
    </div>
    <div class="city-list">
    <p style="font-size:12px;color:#888888;line-height:12px;text-align:justify;margin-bottom: 11px;">更多城市敬请期待</p>
    <ul class="clearfix">
        <li><span>成都</span></li>
        <li><span>青岛</span></li>
        <li><span>哈尔滨</span></li>
        <li><span>天津</span></li>
        <li><span>重庆</span></li>
        <li><span>郑州</span></li>
        <li><span>济南</span></li>
        <li><span>长春</span></li>

        <li class="dot"><i class="icon-dot"></i><i class="icon-dot"></i><i class="icon-dot"></i></li>
    </ul>
</div>
<div class="tips">
    绿草地已在13个城市共开设15家门店，我们正在努力开设更多门店以方便顾客。敬请期待！<br>如果你有店铺及其他资源，欢迎提供给我们，请将详细信息发送至邮箱cs@naiveblue.com，不胜感激！
</div>
</div>
<!-- 选择城市 -->
