</div><!-- app结束 -->

<!-- 右侧菜单 -->
<div id="toolbar-submenu" class="toolbar-submenu">
	<ul class="ts-menu" id="ts-menu">
	<li><a href="./book"><i class="icon-time"></i>开始预约</a></li>
	<li><a href="./orders"><i class="icon-list"></i>我的订单</a></li>
	<li><a href="./profile"><i class="icon-user"></i>个人资料</a></li>
	<li><a href="./store_address?city="><i class="icon-map-marker"></i>门店地址</a></li>
	<li><a href="./help_tips"><i class="icon-lightbulb"></i>拍摄须知</a></li>
	</ul>
	<div class="mask"></div>
</div>
<!-- /右侧菜单 -->
<!-- 遮罩 -->
<div id="page-mask" class="page-mask"></div>
<!-- /遮罩 -->
<!--当前页面的js-->
<script src="{$__RESOURCE__}scripts/common.js"></script>
<!--/当前页面的js-->

</body>
</html>
